/*
 * fonts.css
 *
 * Fuentes personalizadas utilizadas en DevNet.
 * Añade aquí las @font-face necesarias para el proyecto.
 */

/* =========================
   FUENTES PERSONALIZADAS
   ========================= */
@font-face {
  font-family: 'LUXIA';
  src: url('../fonts/LUXIA-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rustic Roadway';
  src: url('../fonts/RusticRoadway.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Awesome Font';
  src: url('../fonts/Awesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Olivera';
  src: url('../fonts/Olivera_Demo.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
