---
# layout: default personalizado basado en Minimal Mistakes
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {%- include head.html -%}
    <!-- Tu CSS personalizado, después del head del tema -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body class="mm-page">
    <header>
      <a class="logo-devnest" href="{{ '/' | relative_url }}">DevNest</a>
    </header>
    {%- include skip-links.html -%}
    <main id="main" class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>
</html>
